<!DOCTYPE html>
<html ng-app="angularjs-starter">
   <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8enmann test</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- required libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </head>
   <body ng-controller="MainCtrl">
     <nav class="navbar navbar-default">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-target">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Guestbook</a>
       </div>
       <div class="collapse navbar-collapse navbar-collapse-target">
         <div class="navbar-right">
           <button class="navbar-btn btn btn-link" ng-hide="is_backend_ready" ng-click="auth()">Sign in</button>
           <button class="navbar-btn btn btn-link" ng-show="is_backend_ready" ng-click="unauth()">Sign out</button>
         </div>
       </div>
     </nav>
     <div class="container">
       <div  ng-show="is_backend_ready">
         <form class="form-inline" ng-submit="insert()" role="form">
           <div class="input-group">
             <input class="form-control" type="text" ng-model="content">
             <span class="input-group-btn">
               <button type="submit" class="btn btn-primary">Post</button>
             </span>
           </div>
         </form>
         <ul class="list-unstyled well" style="margin-top:20px;">
           <li ng-hide="messages">No messages</li>
           <li ng-repeat="message in messages | orderBy:'created_at'">
             {{message.created_at|date:'short'}} {{message.created_by.email}}: {{message.content}}
           </li>
         </ul>
         <button ng-click="list()" class="btn">Rotate page</button>
       </div>
     </div>
   </body>
</html>
